{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdofferAlta %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
<hr>
        <!-- Formulario Registro -->
        <form name="alta_ing" id="alta_ing" method="POST" enctype="multipart/form-data" action="{% url 'adminProdofferAlta' %}">

        <div class="card">
            <header class="card-header text-center">
                <h4 class="card-title mt-2"> Alta Nuevo Producto Ofertado </h4>
            </header>
            <div class="card-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="nombre">Nombre Producto:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="30" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="alergenos_producto">Alérgenos del producto:</label>
                                <input type="text" class="form-control" name="alergenos_producto"
                                       id="alergenos_producto"
                                       maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="tipo_producto">Tipo de producto:</label>
                                <input type="text" class="form-control" name="tipo_producto"
                                       id="tipo_producto"
                                       maxlength="45">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="precio">PVP/unidad(€):</label>
                                <input type="number" class="form-control" name="precio" id="precio" min="0" step=".01">
                            </div>
                        </div>
                    </div>

                 <div class="form-group row ">
                     <div class="col-12">
                            <label for="descripcion" >Descripción</label>

                            <textarea class="form-control" rows="3" name="descripcion" id="descripcion" maxlength="230" placeholder="Descripción del producto...."></textarea>

                         </div>
                        </div>
                     <div class="form-group row ">
                     <div class="col-12">
                <input type="file" name="image" required>

                         </div>
                        </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                </br>
                                <div class="text-center">
                                <button class="btn btn-lg btn-success " type="button" data-toggle="modal"
                                        data-target="#ModalCenter"><i
                                        class="oi oi-circle-check"></i> Continuar
                                </button>
                                    </div>
                                <!-- empieza modal -->
                                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog"
                                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                A continuación se va a proceder a dar de alta un nuevo producto
                                                ¿Estás segur@ de continuar?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- termina modal -->
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
        <!-- Fin card -->
        </form>
        <!-- Fin Formulario -->
    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock %}