{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdofferBaja %}
<hr><hr>
<div class="row">
    <hr>
    <div class="col-md-4">
        <p>Busca los Productos Ofertados con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>
    <div class="col-md-4">
        {% if messages %}
        <ul class="messages text-info">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }} PROD{{ idRemoved }} fue Eliminado
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'adminProductosOfertados'%}' ">
            Volver al Panel Administraión
        </button>
    </div>
</div>
<hr>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Id Producto Ofertado</th>
        <th>Nombre Producto</th>
        <th>Coste</th>
        <th>PVP</th>
        <th>Tipo Producto</th>
        <th>Alergenos del Producto</th>
        <th>Descripción del Producto</th>
        <th>Dar De Baja</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in productos_ofertados %}

    <tr>
        <form method='POST' action="{% url 'adminProdofferBaja' %}">
            {% csrf_token %}
            <input type="hidden" name="id_producto" value="{{ value.id_producto }}">
            <td>{{ value.id_producto }}</td>
            <td>{{ value.nombre }}</td>
            <td>{{ value.coste }}</td>
            <td>{{ value.precio }}</td>
            <td>{{ value.tipo_producto }}</td>
            <td>{{ value.alergenos_producto }}</td>
            <td>{{ value.descripcion }}</td>



            <td>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </td>

            <!--  Modal

            <div class="modal fade" id="ModalCenter2" tabindex="-1" role="dialog"
                 aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle2">Modificación de Datos</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            Se va a eliminar el ingrediente {{ ingre.identificadoring }}
                            ¿Estás segur@ de continuar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>

                        </div>
                    </div>
                </div>
            </div>
            -->
        </form>
    </tr>

    {% endfor %}
    </tbody>
</table>

<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>


{% endblock %}