{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdofferModify %}

 <div class="row">
     <div class="col-md-10">
            <a href='{% url 'adminProductosOfertados' %}'>Volver Panel Administración</a>

        </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Id Producto Ofertado</th>
        <th>Nombre Producto</th>
        <th>Coste €</th>
        <th>PVP €</th>
        <th>Tipo de Producto</th>
        <th>alergenos_producto</th>
        <th>Descripción</th>
        <th>Editar Producto</th>
        <th>Añadir Ingredientes</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in productsOffer %}

    <tr>
        <form method='GET' action="{% url 'adminProdofferModifyStep1' %}">
            {% csrf_token %}

            <td>PROD{{ value.id_producto }}</td>
            <td>{{ value.nombre }}</td>
            <td>{{ value.coste }}</td>
            <td>{{ value.precio }}</td>
            <td>{{ value.tipo_producto }}</td>
            <td>{{ value.alergenos_producto }}</td>
            <td>{{ value.descripcion }}</td>

            <input name="id_producto" type="hidden" value="{{ value.id_producto }}">
            <input name="nombre" type="hidden" value="{{ value.nombre }}">
            <input name="coste" type="hidden" value="{{ value.coste }}">
            <input name="precio" type="hidden" value="{{ value.precio }}">
            <input name="tipo_producto" type="hidden" value="{{ value.tipo_producto }}">
            <input name="alergenos_producto" type="hidden" value="{{ value.alergenos_producto}}">
            <input name="descripcion" type="hidden" value="{{ value.descripcion }}">

    <td>
                <button type="submit" class="btn btn-primary">Editar</button>
            </td>
        </form>
            <td>
                  <form method='GET' action="{% url 'adminProdofferModifyStep2' %}">
                 {% csrf_token %}
                      <input name="id_producto" type="hidden" value="{{ value.id_producto  }}">
                <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
            </td>


    </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}