{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block altaIngreFin %}



<div class="row">
    <div class="table-responsive col-md-2">
        <p>Pedido dado de alta</p>

        <table class="table table-user-information table-bordered table-sm ">
            <tbody>
            <tr>
                <td>Identificador Pedido:</td>
                <td>PED{{ context.pedido.id }}</td>
            </tr>
            <tr>
                <td>Fecha pedido:</td>
                <td>{{ context.pedido.fecha_pedido }} </td>
            </tr>
            <tr>
                <td>lugar:</td>
                <td>{{ context.pedido.lugar }}</td>
            </tr>
            <tr>
                <td>Nº comensales:</td>
                <td>{{ context.pedido.n_comensales }}</td>
            </tr>
            <tr>
                <td>T. evento:</td>
                <td>{{ context.pedido.t_evento }}</td>
            </tr>
             <tr>
                <td>T. servicio:</td>
                <td>{{ context.pedido.t_servicio }}</td>
            </tr>
             <tr>
                <td>requisitos:</td>
                <td>{{ context.pedido.requisitos }}</td>
            </tr>
             <tr>
                <td>Comentarios:</td>
                <td>{{ context.pedido.comentarios }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="table-responsive">
                <p>Lista de productos</p>


                <table class="grid table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="table-secondary">Identificador Producto</th>
                        <th class="table-secondary">Nombre</th>
                        <th class="table-secondary">PVP</th>
                        <th class="table-secondary">Tipo producto</th>
                        <th class="table-secondary">Descripción</th>

                    </tr>
                    </thead>
                    {% for prod in context.productos %}

                    <tbody>
                    <tr>
                        <td>PROD{{ prod.id_producto }}</td>
                        <td> {{ prod.nombre }}</td>
                        <td> {{ prod.precio }}€</td>
                        <td> {{ prod.tipo_producto }}</td>
                        <td> {{ prod.descripcion }}</td>


                    </tbody>
                    {% endfor %}
                </table>
            </div>


        </div>

        <div class="row">
<div class="col-md-2">
    {% if messages %}
<ul class="messages text-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
            <div class="table-responsive  col-md-8">
                <form name="register-form" id="register-form" method="POST" action="{% url 'adminGestionPedidosAltaStep2' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <div class="card ">
                        <table class="grid table table-bordered table-sortable table-secondary">
                            <thead>
                            <tr>

                                <th>ID Producto</th>

                                <th>Cantidad</th>

                            </tr>
                            </thead>
                            {% for form in formset %}

                            <tbody>
                            <tr>
                                <td> {{ form.producto }}</td>

                                <td> {{ form.cantidad }}</td>
                                <input name="form-0-pedido" type="hidden" value="{{ context.pedido.id }}">


                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                        onclick="location.href='{% url 'Administracion'%}' ">
                                    Volver al Panel Administraión
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
{% endblock %}