{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block altaIngrediente %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
<hr>
        <!-- Formulario Registro -->
        <form name="alta_ing" id="alta_ing" method="POST" action="{% url 'AltaIngrediente' %}">

        <div class="card">
            <header class="card-header text-center">
                <h4 class="card-title mt-2"> Alta Nuevo Ingrediente </h4>
            </header>
            <div class="card-body">
                <form name="register-form" id="register-form" method="POST" action="{% url 'AltaIngrediente' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="nombre">Nombre Ingrediente:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="20"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="marca">Marca:</label>
                                <input type="text" class="form-control" name="marca"
                                       id="marca"
                                       maxlength="20">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="alergenos">Alérgenos:</label>
                                <input type="text" class="form-control" name="alergenos"
                                       id="alergenos"
                                       maxlength="30">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="tipo_ingrediente">Tipo de Ingrediente:</label>
                                <input type="text" class="form-control" name="tipo_ingrediente" id="tipo_ingrediente"
                                       maxlength="30">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                </br>
                                <div class="text-center">
                                <button class="btn btn-lg btn-success " type="button" data-toggle="modal"
                                        data-target="#ModalCenter"><i
                                        class="oi oi-circle-check"></i> Continuar
                                </button>
                                    </div>
                                <!-- empieza modal -->
                                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog"
                                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                A continuación se va a proceder a dar de alta un nuevo ingrediente
                                                ¿Estás segur@ de continuar?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- termina modal -->
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
        <!-- Fin card -->
        </form>
        <!-- Fin Formulario -->
    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock %}