{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block modifyIng %}

 <div class="row">
     <div class="col-md-10">
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>

        </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Identificador Ingrediente</th>
        <th>Nombre Ingrediente</th>
        <th>Marca</th>
        <th>Alérgenos</th>
        <th>Tipo de Ingrediente</th>
        <th>Editar Ingrediente</th>
        <th>Editar Proveedor(es) relacionados</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for ingre in ingredientes %}

    <tr>
        <form method='GET' action="{% url 'editarIngre' %}">
            {% csrf_token %}
            <input type="hidden" name="id_ingrediente" value="{{ ingre.id_ingrediente }}">
            <td>ING{{ ingre.id_ingrediente }}</td>
            <td>{{ ingre.nombre }}</td>
            <td>{{ ingre.marca }}</td>
            <td>{{ ingre.alergenos }}</td>
            <td>{{ ingre.tipo_ingrediente }}</td>
            <input name="id_ingrediente" type="hidden" value="{{ ingre.id_ingrediente }}">
            <input name="nombre" type="hidden" value="{{ ingre.nombre }}">
            <input name="marca" type="hidden" value="{{ ingre.marca }}">
            <input name="alergenos" type="hidden" value="{{ ingre.alergenos }}">
            <input name="tipo_ingrediente" type="hidden" value="{{ ingre.tipo_ingrediente }}">
            <input name="identificadoring" type="hidden" value="{{ ingre.identificadoring }}">
    <td>
                <button type="submit" class="btn btn-primary">Editar Ingr.</button>
            </td>
        </form>
            <td>
                  <form method='GET' action="{% url 'modifyIngrediente' %}">
                 {% csrf_token %}
                      <input name="id_ingrediente" type="hidden" value="{{ ingre.id_ingrediente }}">
                <button type="submit" class="btn btn-primary">Editar Prov.</button>
                    </form>
            </td>


    </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}