{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block ProductosStock %}

<hr><hr>
<div class="row">
    <hr>
    <div class="col-md-4">
        <p>Busca tus ingredientes con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>
    <div class="col-md-4">
        {% if messages %}
        <ul class="messages text-info">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }} ING{{ idRemoved}} fue Eliminado
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'AdminProductosProv'%}' ">
            Volver al Panel Administraión
        </button>
    </div>
</div>
<hr>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Identificador Ingrediente</th>
        <th>Nombre Ingrediente</th>
        <th>Marca</th>
        <th>Alérgenos</th>
        <th>Tipo de Ingrediente</th>
        <th>Stock</th>
        <th>Cantidad en Stock</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for ingre in ingredientes %}

    <tr>

            <input type="hidden" name="id_ingrediente" value="{{ ingre.id_ingrediente }}">
            <td>ING{{ ingre.id_ingrediente }}</td>
            <td>{{ ingre.nombre }}</td>
            <td>{{ ingre.marca }}</td>
            <td>{{ ingre.alergenos }}</td>
            <td>{{ ingre.tipo_ingrediente }}</td>
            <td>{{ ingre.stock }}</td>
            <td>{{ ingre.cantidad_stock }}</td>


            <td>
                <form method='GET' action="{% url 'ingredientStockEdit' %}">
            {% csrf_token %}
                <input type="hidden" name="id_ingrediente" value="{{ ingre.id_ingrediente }}">
                <input type="hidden" name="nombre" value="{{ ingre.nombre }}">
                <input type="hidden" name="marca" value="{{ ingre.marca }}">
                <input type="hidden" name="alergenos" value="{{ ingre.alergenos }}">
                <input type="hidden" name="tipo_ingrediente" value="{{ ingre.tipo_ingrediente }}">
                <input type="hidden" name="stock" value="{{ ingre.stock }}">
                <input type="hidden" name="cantidad_stock" value="{{ ingre.cantidad_stock }}">
                <button type="submit" class="btn btn-primary">Editar</button>
                </form>
            </td>



    </tr>

    {% endfor %}
    </tbody>
</table>

<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>


{% endblock %}