{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block ProvtablaIngr%}
<hr><hr>
<div class="row">
    <hr>
    <div class="col-md-4">
        <p>Busca tus ingredientes con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-success btn-sm"
                onclick="location.href='{% url 'IngrProvTableRentable' %}' ">
            Proveedores rentables por ingredientes
        </button>
    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'AdminProductosProv'%}' ">
            Volver al Panel Administraión
        </button>
    </div>
</div>
<hr>
<table id="table-color" class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Identificador Ingrediente</th>
        <th>Nombre Ingrediente</th>
        <th>Marca</th>
        <th>Alérgenos</th>
        <th>Tipo de Ingrediente</th>
        <th>CIF Prov </th>
        <th>Nombre </th>
        <th>Identificador Prov</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in data %}

    <tr>
            <td>ING{{ value.id_ingrediente__id_ingrediente}}</td>
            <td>{{ value.id_ingrediente__nombre }}</td>
            <td>{{ value.id_ingrediente__marca }}</td>
            <td>{{ value.id_ingrediente__alergenos }}</td>
            <td>{{ value.id_ingrediente__tipo_ingrediente }}</td>
            <td>{{ value.cif_proveedor__cif_proveedor }}</td>
            <td>{{ value.cif_proveedor__nombre }}</td>
            <td>{{ value.cif_proveedor__prefix_id }}</td>
            <td>{{ value.precio }}</td>
            <td>{{ value.cantidad }}</td>


        </form
    </tr>

    {% endfor %}
    </tbody>
</table>
<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>

{% endblock %}