{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block administrationEditProv %}

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"> Editar {{ prefix_id }}: {{ nombre }}</h1>

<form name="update-form" id="update-form" method="POST" action="{% url 'editProveedor' %}">
        {% csrf_token %}

 <input type="hidden" name="cif_proveedor" value="{{ cif_proveedor }}">

 <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="30" value="{{ nombre }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="nombre_com" class="col-sm-2 col-form-label">Nombre Comercial</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre_com" id="nombre_com" maxlength="30" value="{{ nombre_com }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="direccion" id="direccion" maxlength="100" value="{{ direccion }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="telefono" class="col-sm-2 col-form-label"> Teléfono</label>
            <div class="col-sm-10">
                <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}" title="Use un número de teléfono válido" class="form-control" name="telefono" id="telefono" value="{{ telefono }}">
            </div>
        </div>


        <div class="form-group row ">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" maxlength="40"
                   value="{{ email }}">
            </div>
        </div>

       <div class="form-group row">
            <label for="enlace" class="col-sm-2 col-form-label">Enlace</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="enlace" id="enlace" maxlength="45" value="{{ enlace }}">
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">Actualizar</button>
                <!---Modal--->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                A continuación se va a proceder a la modificación del Proveedor <strong>{{ nombre }}</strong>
                                ¿Estás segur@ de continuar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Fin del div col-md-4 text-center -->
            </div>
            <div class="col-md-4"></div>
        </div>


    </form>




{% endblock %}