{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block administrationEditUser %}

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"> Editar usuario: {{ nombre }} {{ apellido1 }} {{ apellido2 }} </h1>

<form name="update-form" id="update-form" method="POST" action="{% url 'editUser' %}">
        {% csrf_token %}


 <input type="hidden" name="usuario" value="{{ usuario }}">
 <input type="hidden" name="password" value="{{ password }}">
 <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="50" value="{{ nombre }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="apellido1" class="col-sm-2 col-form-label">Apellido1</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="apellido1" id="apellido1" maxlength="50" value="{{ apellido1 }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="apellido2" class="col-sm-2 col-form-label">Apellido2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="apellido2" id="apellido2" maxlength="50" value="{{ apellido2 }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="telefono" class="col-sm-2 col-form-label"> Teléfono</label>
            <div class="col-sm-10">
                <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}" title="Use un número de teléfono válido" class="form-control" name="telefono" id="telefono" value="{{ telefono }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="tipo_cliente" class="col-sm-2 col-form-label"> Tipo de cliente </label>
            <div class="col-sm-10">
            <select class="form-control" id="tipo_cliente" name ="tipo_cliente" onchange="if(this.options[this.selectedIndex].value=='other'){toggleField(this,this.nextSibling); this.selectedIndex='0';} ">
               <!-- <option selected disabled> Selecciona el tipo de cliente:</option>-->
                <option value="Empresa - Fiestas infantiles"> Empresa - Fiestas infantiles</option>
                <option value="Particular"> Paticular</option>
                <option value="Empresa-Academica"> Empresa - académica</option>
                <option value="other">Otros(Escribe el tipo de cliente que eres)</option>
                <input name="tipo_cliente" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
            </select>

            </div>
        </div>
        <div class="form-group row ">
            <label for="alergenos" class="col-sm-2 col-form-label">Alergias e intolerancias</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="alergenos" id="alergenos" maxlength="30"
                   value="{{ alergenos }}">
            </div>
        </div>
        <div class="form-group row ">
            <label for="necesidades_lim" class="col-sm-2 col-form-label">Necesidades alimentarias especiales</label>
            <div class="col-sm-10">
            <textarea class="form-control" rows="2" name="necesidades_lim" id="necesidades_lim" maxlength="30">{{ necesidades }}</textarea>
            </div>
        </div>

       <div class="form-group row">
            <label for="rol" class="col-sm-2 col-form-label">Rol </label>
            <div class="col-sm-10">
            <select class="form-control" id="rol" name ="rol">
                {% if rol == 'ROLE_USER' %}

                <option value="ROLE_USER" selected>  Usuario </option>
                <option value="ROLE_ADMIN"> Administrador </option>
                {% else %}
                <option value="ROLE_USER"> Usuario </option>
                <option value="ROLE_ADMIN" selected> Administrador </option>
                {% endif %}
            </select>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">Actualizar</button>
                <!---Modal--->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                A continuación se va a proceder a la modificación de los datos para el usuario {{ usuario }}
                                ¿Estás segur@ de continuar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Fin del div col-md-4 text-center -->
            </div>
            <div class="col-md-4"></div>
        </div>


    </form>


<script type="text/javascript">

    function toggleField(hideObj,showObj){
        hideObj.disabled=true;
        hideObj.style.display='none';
        showObj.disabled=false;
        showObj.style.display='inline';
        showObj.focus();
    }

   </script>


{% endblock %}