{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"> Editar Pedido PED{{ pedido_id }} del cliente {{ cliente }}</h1>

<form name="update-form" id="update-form" method="POST" action="{% url 'adminGestionPedidoModifyStep1' %}">
        {% csrf_token %}

 <input type="hidden" name="pedido_id" value="{{ pedido_id }}">

 <div class="form-group row">
            <label for="fecha_pedido" class="col-sm-2 col-form-label">Fecha Pedido: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="fecha_pedido" id="fecha_pedido" value="{{ fecha_pedido }}">
            </div>
        </div>
    <div class="form-group row">
            <label for="fecha_entrega" class="col-sm-2 col-form-label">fecha_entrega: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="fecha_entrega" id="fecha_entrega" maxlength="10" value="{{ fecha_entrega }}">
            </div>
        </div>
    <div class="form-group row">
            <label for="lugar" class="col-sm-2 col-form-label">Lugar: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="lugar" id="lugar" maxlength="100" value="{{ lugar }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="n_comensales" class="col-sm-2 col-form-label">Número comensales: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="n_comensales" id="n_comensales" min="0" value="{{ n_comensales }}">
            </div>
        </div>
     <div class="form-group row">
            <label for="t_evento" class="col-sm-2 col-form-label">Tipo de evento: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="t_evento" id="t_evento" maxlength="15" value="{{ t_evento }}">
            </div>
        </div>


       <div class="form-group row">
            <label for="t_servicio" class="col-sm-2 col-form-label">Tipo de servicio:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="t_servicio" id="t_servicio" maxlength="15" value="{{ t_servicio }}">            </div>
        </div>
    <div class="form-group row">
            <label for="requisitos" class="col-sm-2 col-form-label">Requisitos:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="requisitos" id="requisitos" maxlength="30" value="{{ requisitos }}">
            </div>
        </div>
    <div class="form-group row">
            <label for="comentarios" class="col-sm-2 col-form-label">Comentarios: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="comentarios" id="comentarios" maxlength="40" value="{{ comentarios }}">
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">Actualizar</button>
                <!---Modal--->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                A continuación se va a proceder a la modificación del pedido <strong>PED{{ pedido_id }}</strong>
                                ¿Estás segur@ de continuar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Fin del div col-md-4 text-center -->
            </div>
            <div class="col-md-2"></div>
        </div>


    </form>

{% endblock %}
