{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}



<div class="row">
    <div class="table-responsive col-md-2">
        <p>Pedido a modificar:</p>

        <table class="table table-user-information table-bordered table-sm ">
            <tbody>
            <tr>
                <td>Pedido ID:</td>
                <td>PED{{ context.pedidos.id }}</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>{{ context.pedidos.cliente_id }}</td>
            </tr>

            <tr>
                <td>fecha pedido:</td>
                <td>{{ context.pedidos.fecha_pedido }} </td>
            </tr>
            <tr>
                <td>fecha entrega:</td>
                <td>{{ context.pedidos.fecha_entrega }}</td>
            </tr>

            <tr>
                <td>Nº comensales:</td>
                <td>{{ context.pedidos.n_comensales }}</td>
            </tr>



            </tbody>
        </table>
    </div>
    <div class="col-md-10">
        <!-- Inicio tabla de ingredientes y su producto -->

        <div class="table-responsive">
                <p>Lista de Productos que tiene el pedido PED{{ context.pedidos.id }}</p>


                <table class="grid table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="table-secondary">Id Producto</th>
                        <th class="table-secondary">Cantidad</th>

                    </tr>
                    </thead>
                    {% for value in context.prodpedido %}

                    <tbody>
                    <tr>
                        <td>PROD{{ value.producto_id }}</td>
                        <td> {{ value.cantidad }}</td>

                    </tbody>
                    {% endfor %}
                </table>
            </div>



        <!-- Fin de la tabla -->
    </div>

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="table-responsive">
                <p>Lista de Productos</p>


                <table class="grid table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="table-secondary">Id Producto</th>
                        <th class="table-secondary">Nombre</th>
                        <th class="table-secondary">Coste</th>
                        <th class="table-secondary">Precio</th>
                        <th class="table-secondary">Tipo Producto</th>
                        <th class="table-secondary">Descripción</th>
                        <th class="table-secondary">Alérgenos</th>

                    </tr>
                    </thead>
                    {% for value in context.productos %}

                    <tbody>
                    <tr>
                        <td>PROD{{ value.id_producto }}</td>
                        <td> {{ value.nombre }}</td>
                        <td> {{ value.coste }}</td>
                        <td> {{ value.precio }}</td>
                        <td> {{ value.tipo_producto }}</td>
                        <td> {{ value.descripcion }}</td>
                        <td> {{ value.alergenos_producto }}</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>

<div class="col-md-2"></div>
        </div>

        <div class="row">
<div class="col-md-2">
    {% if messages %}
<ul class="messages text-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
            <div class="table-responsive  col-md-8">
                <form name="register-form" id="register-form" method="POST" action="{% url 'adminGestionPedidoModifyStep2' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <div class="card ">
                        <table class="grid table table-bordered table-sortable table-secondary">
                            <thead>
                            <tr>

                                <th>Producto</th>
                                <th>Cantidad</th>

                            </tr>
                            </thead>
                            {% for form in formset %}

                            <tbody>
                            <tr>
                                <td> {{ form.producto }}</td>
                                <td> {{ form.cantidad }}</td>
                                <input name="form-0-pedido" type="hidden" value="{{ context.pedidos.id }}">


                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                        onclick="location.href='{% url 'adminProdofferModify' %}' ">
                                    Volver atrás
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
{% endblock %}