{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-4">

    </div>
  <div class="col-md-4">
<hr>
        <form name="register-form" id="register-form" method="POST" action="{% url 'adminGestionPedidosAlta' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="card">
                 <header class="card-header text-center">
                <h4 class="card-title mt-2"> Alta pedido</h4>
                </header>

                <div class="card-body">
                    {% for form in formset %}
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-12">
                                <label>Cliente:</label></br>
                                {{ form.cliente }}
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-md-12">
                                <label>Fecha entrega:</label></br>
                                {{ form.fecha_entrega }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Lugar:</label></br>
                                {{ form.lugar }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Número de comensales:</label></br>
                                {{ form.n_comensales }}
                            </div>
                        </div>


                         <div class="row">
                            <div class="col-md-12">
                                <label>Tipo evento:</label></br>
                                {{ form.t_evento }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Tiempo de servicio:</label></br>
                                {{ form.t_servicio }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Requisitos:</label></br>
                                {{ form.requisitos }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Comentarios:</label></br>
                                {{ form.comentarios }}
                            </div>
                        </div>




                    </div>



                    {% endfor %}

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-lg btn-block"
                                onclick="location.href='{% url 'Administracion'%}' ">
                            Panel Administraión
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>
{% endblock %}