{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}
<div class="row">
    <hr>
    <div class="col-md-4">
        <p>Busca tus pedidos con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'adminGestionPedidos'%}' ">
            Volver al Panel Administraión
        </button>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Id Pedido</th>
        <th>E-mail Cliente</th>
        <th>fecha_pedido</th>
        <th>fecha_entrega</th>
        <th>lugar</th>
        <th>Número comensales</th>
        <th>Tipo evento</th>
        <th>Tipo servicio</th>
        <th>Requisitos</th>
        <th>Comentarios</th>


        <th>Editar Pedido</th>
        <th>Añadir Productos al Pedido</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in context.pedidoscli %}

    <tr>
        <form method='GET' action="{% url 'adminGestionPedidoModifyStep1' %}">
            {% csrf_token %}

            <td>PED{{ value.id }}</td>
            <td>{{ value.cliente_id }}</td>
            <td>{{ value.fecha_pedido }}</td>
            <td>{{ value.fecha_entrega }}</td>
            <td>{{ value.lugar }}</td>
            <td>{{ value.n_comensales }}</td>
            <td>{{ value.t_evento }}</td>
            <td>{{ value.t_servicio }}</td>
            <td>{{ value.requisitos }}</td>
            <td>{{ value.comentarios }}</td>

            <input name="pedido_id" type="hidden" value="{{ value.id }}">
            <input name="fecha_pedido" type="hidden" value="{{ value.fecha_pedido}}">
            <input name="fecha_entrega" type="hidden" value="{{ value.fecha_entrega }}">
            <input name="lugar" type="hidden" value="{{ value.lugar }}">
            <input name="n_comensales" type="hidden" value="{{ value.n_comensales }}">
            <input name="t_evento" type="hidden" value="{{ value.t_evento }}">
            <input name="t_servicio" type="hidden" value="{{ value.t_servicio }}">
            <input name="requisitos" type="hidden" value="{{ value.requisitos }}">
            <input name="comentarios" type="hidden" value="{{ value.comentarios }}">
            <input name="cliente_id" type="hidden" value="{{ value.cliente_id }}">


    <td>
                <button type="submit" class="btn btn-primary">Editar</button>
            </td>
        </form>
            <td>
                  <form method='GET' action="{% url 'adminGestionPedidoModifyStep2' %}">
                 {% csrf_token %}
                    <input name="pedido_id" type="hidden" value="{{ value.id }}">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
            </td>


    </tr>

    {% endfor %}
    </tbody>
</table>

<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>

{% endblock %}