{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}
<hr><hr>
<div class="row">
    <hr>
    <div class="col-md-4">
        <p>Busca los pedidos con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>


    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'adminGestionPedidos'%}' ">
            Volver al Panel Administración
        </button>
    </div>
</div>
<hr>
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Id Pedido</th>
        <th>E-mail Cliente</th>
        <th>fecha_pedido</th>
        <th>fecha_entrega</th>
        <th>lugar</th>
        <th>Número comensales</th>
        <th>Tipo evento</th>
        <th>Tipo servicio</th>
        <th>Requisitos</th>
        <th>Comentarios</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in context.pedidoscli %}

    <tr>

            <input type="hidden" name="id_pedido" value="{{ value.id }}">
            <td>PED{{ value.id }}</td>
            <td>{{ value.cliente_id }}</td>
            <td>{{ value.fecha_pedido }}</td>
            <td>{{ value.fecha_entrega }}</td>
            <td>{{ value.lugar }}</td>
            <td>{{ value.n_comensales }}</td>
            <td>{{ value.t_evento }}</td>
            <td>{{ value.t_servicio }}</td>
            <td>{{ value.requisitos }}</td>
            <td>{{ value.comentarios }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>


{% endblock %}