

#centrador{
    text-align: center;
    width: 900px;
    height: 100px;
}

button{
margin-left:5px
}
.classWithPad{

    padding:10px;
}
#icon{
background-image:url(../open-iconic-master/png/magnifying-glass-2x.png);
background-repeat: no-repeat;
background-position: 2px 3px;


input::placeholder{
    word-spacing: 15px;
}

.centered{
align-self:center;
}



