{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdofferModifyStep1 %}

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"> Editar Producto PROD{{ id_producto }}</h1>

<form name="update-form" id="update-form" method="POST" action="{% url 'adminProdofferModifyStep1' %}">
        {% csrf_token %}

 <input type="hidden" name="id_producto" value="{{ id_producto }}">

 <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre Producto: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="30" value="{{ nombre }}">
            </div>
        </div>
    <div class="form-group row">
            <label for="tipo_producto" class="col-sm-2 col-form-label">Tipo de Producto: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="tipo_producto" id="tipo_producto" maxlength="45" value="{{ tipo_producto }}">
            </div>
        </div>
    <div class="form-group row">
            <label for="alergenos_producto" class="col-sm-2 col-form-label">Alérgenos del producto</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="alergenos_producto" id="alergenos_producto" maxlength="100" value="{{ alergenos_producto }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="coste" class="col-sm-2 col-form-label">Coste €: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="coste" id=coste min="0" step=".01" value="{{ coste }}">
            </div>
        </div>
     <div class="form-group row">
            <label for="precio" class="col-sm-2 col-form-label">PVP €: </label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="precio" id="precio" min="0" step=".01" value="{{ precio }}">
            </div>
        </div>


       <div class="form-group row">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="3" name="descripcion" id="descripcion" maxlength="230" >{{ descripcion }}</textarea>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">Actualizar</button>
                <!---Modal--->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                A continuación se va a proceder a la modificación del producto con ID <strong>{{ id_producto }}</strong>
                                ¿Estás segur@ de continuar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Fin del div col-md-4 text-center -->
            </div>
            <div class="col-md-2"></div>
        </div>


    </form>

{% endblock %}
