{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block administration %}
</br></br>
    <h1 class="border border-secondary border-top-0 border-left-0 border-right-0"> Administración </h1>
<hr>
<div class="row">


    <div class="card text-center " style="width: 18rem;">
        <div class="card-header">
            <strong>Administración de Usuarios</strong>
        </div>
            <div class="card-body">
                <p class="card-text">Añade, modifica o elimina a los usuarios del sistema</p>
            </div>
        <div class="card-footer">
            <a href='{% url 'AdministracionUser' %}' class="btn btn-primary"> Ir</a>
        </div>
    </div>



    <div class="card text-center " style="width: 18rem;">
        <div class="card-header">
            <strong>Administración de proveedores</strong>
        </div>
            <div class="card-body">

                <p class="card-text">Añade, modifica o elimina a los proveedores del sistema.</p>
            </div>
        <div class="card-footer">
                <a href='{% url 'AdministracionProveedor' %}' class="btn btn-primary"> Ir</a>
        </div>
    </div>



    <div class="card text-center " style="width: 18rem;">
        <div class="card-header">
            <strong>Gestion-productos-proveedores</strong>
        </div>
            <div class="card-body">
                <p class="card-text">Se podrá dar de alta,baja o modificación de los datos de los productos de
                    los proveedores, .</p>
            </div>
        <div class="card-footer">
                <a href='{% url 'AdminProductosProv' %}' class="btn btn-primary"> Ir</a>
        </div>
    </div>


     <div class="card text-center" style="width: 18rem;">
          <div class="card-header ">
           <strong>Gestión de pedidos</strong>
        </div>
            <div class="card-body">
                <p class="card-text">Añade, modifica o elimina a los pedidos de los clientes.</p>
            </div>
          <div class="card-footer">
                <a href='{% url 'adminGestionPedidos' %}' class="btn btn-primary"> Ir</a>
        </div>

    </div>


   <div class="card text-center border-danger " style="width: 18rem;">
        <div class="card-header">
            <strong>Gestion de facturas</strong>
        </div>
            <div class="card-body border-danger">
                <p class="card-text">Añade, modifica o elimina Las Facturas.</p>
            </div>
        <div class="card-footer">
                <a href='{% url 'Administracion' %}' class="btn btn-primary"> Ir</a>
        </div>
    </div>

    <div class="card text-center " style="width: 18rem;">
        <div class="card-header">
            <strong>Gestion de productos ofertados</strong>
        </div>
            <div class="card-body">

                <p class="card-text">Añade, modifica o elimina productos ofertados</p>
            </div>
         <div class="card-footer">
                <a href='{% url 'adminProductosOfertados' %}' class="btn btn-primary"> Ir</a>
        </div>
    </div>



</div>

{% endblock %}
