{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block content %}


<div class="row">
    <hr>
    <div class="col-md-10">

    <h1 class="text-secondary border border-primary border-top-0 border-left-0 border-right-0"> Resumen</h1>

    </div>

    <div class="col-md-2">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'clientesProductos'%}' ">
            Volver a la lista de Productos
        </button>
    </div>
</div>
<hr>
<table align="center" class="table table-striped table-condensed table-hover">
    <thead class="thead-inverse">
    <tr>

        <th></th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in productos %}

    <tr>
        <form method='POST'>
            {% csrf_token %}
            <input type="hidden" name="id_ingrediente" value="{{ ingre.id_ingrediente }}">
            <td align="center">  <img class="img-fluid" height="80" width="80"
                 src="{{ value.image }}"></td>
            <td>{{ value.nombre }} </td>
            <td> <div class="col-md-6"><input type="number" min="0" class="form-control" name="cantidad" id="cantidad">
             </div>
            </td>

            <td>{{ value.precio }}</td>

        </form>
    </tr>
    {% endfor %}
    <tr>
        <td></td> <td></td>
    </br>
        <td><button type="button" onclick="calculatePrice()">Calcular pedido IVA Incluido
        </button></td>
        <td>Total <input type="text" name="orderTotal" id="orderTotal" Size="8" readonly> €</td>
    </tr>
    </tbody>
</table>


<script>

    $("#orderTotal").click(function (){
        calculatePrice();
    });

    function calculatePrice()
    {
    var =2.00;
    $("#orderTotal").val(var);
    }

</script>

{% endblock content %}
