{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block catering %}
<hr>
<div class="container">
<div class="row">


    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong></br><a href='{% url 'clientesProductos' %}' "> PRODUCTOS</a></strong>
        </div>
            <div class="card-body">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel2.jpg' %}">
            </div>

    </div>



    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong></br><a href='#' %}' "> MENÚS</a></strong>
        </div>
            <div class="card-body">

                <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel9.jpg' %}">
            </div>

    </div>



    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong></br><a href='{% url 'AdministracionProveedor' %}' "> ESPECIALES</a></strong>
        </div>
            <div class="card-body">
 <img class="img-fluid card-img-top rounded-bottom"
                             src="{% static 'images/productosoffer/carousel4.jpg' %}">
            </div>

    </div>


     <div class="card text-center " style="width: 15rem;">
          <div class="card-header ">
           <strong><a href='{% url 'AdministracionProveedor' %}' "> SOLICITAR PRESUPUESTO</a></strong>
        </div>
            <div class="card-body ">
                </br>
                <img class="img-fluid card-img-top rounded-bottom"
                     src="{% static 'images/calc1.jpg' %}">
           </div>


    </div>



</div>
</div>
<div style="visibility: hidden">
 {% block carrito_compra %}

        {{ lista | length }}
    {% endblock %}
</div>
{% endblock %}