{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block changepass %}
<div class="container">
    <hr>
<form method="post" action="{% url 'changepass' %}">
    {% csrf_token %}
    {{ form.as_p }}
    </br>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

</form>

</div>

{% endblock %}