{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block carousel %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href='{% static "css/carousel.css" %}'>
{% endblock %}

<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators mb-0 pb-0">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>

        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner no-padding my-5">
            <div class="carousel-item active">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel2.jpg' %}">
                    </a>
                    <div class="card-img-overlay t_img">
                        </div>
                    </a>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>



                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel9.jpg' %}">


                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom"
                             src="{% static 'images/productosoffer/carousel4.jpg' %}">
                        <div class="card-img-overlay t_img">

                        </div>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top" src="{% static 'images/productosoffer/carousel6.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel5.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!
                    </p>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel10.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>

                </div>
            </div>
            <!--- tercer carousel -->
            <div class="carousel-item">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top" src="{% static 'images/productosoffer/carousel8.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel5.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!
                    </p>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="#" onclick=abc(this) class="slider_info">
                        <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel7.jpg' %}">
                        <div class="card-img-overlay t_img">
                        </div>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores
                        atque labore fugiat tenetur tempore veritatis temporibus!</p>

                </div>
            </div>



        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon sp"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon sp"></span>
        </a>
    </div>

</div>
<div style="visibility: hidden">
 {% block carrito_compra %}

        {{ lista | length }}
    {% endblock %}
</div>

{% endblock %}