{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block content %}
</br>
<h1 class="text-center">Dirección de Contacto</h1>
<hr>
  <div class="row">
    <div class="col-sm-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.0737274064804!2d-3.8956742858150615!3d40.40721746414412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41855887e3da59%3A0xb82a53d63118145f!2sCalle+Severo+Ochoa%2C+13%2C+28660+Boadilla+del+Monte%2C+Madrid!5e0!3m2!1ses!2ses!4v1547730196595" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>

    <div class="col-sm-4" id="contact2">
        <h3>Información</h3>
        <hr align="left" width="50%">
        <h4 class="pt-2">Dirección</h4>
        <i class="fas fa-globe" style="color:#000"></i> C/ Severo Ochoa, 13, pta.9<br>
        <h4 class="pt-2">Número de teléfono</h4>
        <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 91-###-##-## </a><br>
        <i class="fab fa-whatsapp" style="color:#000"></i><a href="tel:+"> 649 80 08 92 </a><br>
        <h4 class="pt-2">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i> <a href="">CosasDeKaty@gmail.com</a><br>
      </div>
  </div>


{% endblock %}
