{% extends 'staticsFiles/staticHome.html' %}
{% block loginuser %}


<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Inicio sesión</h2>
                <form class="login-form" method="POST" action="{% url 'InicioLogin' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="text-uppercase"><strong>Nombre de usuario</strong></label>
                        <input type="email" class="form-control" placeholder="name@example.com"  name ="username" id="username" required>

                    </div>

                    {% if invalid %}
                    <div>
                        <strong>nombre de usuario o contraseña invalido</strong>

                    </div>
                    {% endif %}


                    <div class="form-group">
                        <label for="passwordid" class="text-uppercase"><strong>Contraseña</strong></label>
                        <input type="password" class="form-control" placeholder="" id="passwordid" name="passwordid" required>
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Recuérdame</small>
                        </label>
                        <button type="submit" class="btn btn-login float-right">Iniciar sesión</button>
                    </div>
                    <p>¿Aún no estás registrado? <a href="{% url 'RegistroCliente' %}">¡Regístrate aquí!</a></p>

                </form>

                 {% if noexiste %}
                    <div>
                        <strong class="text-danger">Usuario no registrado</strong>

                    </div>
                    {% endif %}
                {% if exitopass == False %}
                    <div>
                        <strong class="text-danger">Contraseña incorrecta</strong>

                    </div>
                {% endif %}
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                                 alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>This is Heaven</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                 src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                                 alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Bienvenido</h2>
                                    <p>Si aún no estás registrado, no esperes más y disfruta de las distintas
                                    variedades que ofrecemos!</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                 src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                                 alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>This is Heaven</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}
