{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block formulariouser %}
<div class="container">
    <h1 class="text-secondary border border-secondary order-top.0 border-left-0 border-right-0 border-top-0 text-danger">
        Datos de registro</h1>
    {% if formulario_correcto %}
        <div class="alert alert-danger">
            <div class="panel-heading"> Bienvenido {{user}}, su alta se ha completado con éxito. En breve recibirá un email con sus datos.
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-light border"   onclick="location.href='{% url 'InicioLogin'%}' ">OK</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    {% else %}
    <form name="register-form" id="register-form" method="POST" action="{% url 'RegistroCliente' %}">
        {% csrf_token %}
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">* Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" required name="nombre" id="nombre" maxlength="50">
            </div>
        </div>
        <div class="form-group row">
            <label for="apellido1" class="col-sm-2 col-form-label">* Apellido1</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="apellido1" id="apellido1" maxlength="50" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="apellido2" class="col-sm-2 col-form-label">Apellido2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="apellido2" id="apellido2" maxlength="50">
            </div>
        </div>

        <div class="form-group row">
            <label for="razon_social" class="col-sm-2 col-form-label"> Razón social</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="razon_social" id="razon_social" maxlength="50">
            </div>
        </div>
        <div class="form-group row">
            <label for="cif" class="col-sm-2 col-form-label">NIF/CIF</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cif" id="cif" maxlength="12">
            </div>
        </div>
        <div class="form-group row">
            <label for="telefono1" class="col-sm-2 col-form-label">* Teléfono1</label>
            <div class="col-sm-10">
                <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}" title="Use un número de teléfono válido" class="form-control" name="telefono1" id="telefono1" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="telefono2" class="col-sm-2 col-form-label">Teléfono2</label>
            <div class="col-sm-10">
                <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}" title="Use un número de teléfono válido" class="form-control" name="telefono2" id="telefono2">
            </div>
        </div>
        <div class="form-group row">
            <label for="paginaweb" class="col-sm-2 col-form-label">Página web</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="paginaweb" id="paginaweb">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">* E-mail</label>
            <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="clave" class="col-sm-2 col-form-label">* Clave</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" name="clave" id="clave" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="clave2" class="col-sm-2 col-form-label">* Repite Clave</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" name="clave2" id="clave2" placeholder="Repeat Password" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="tipo_cliente" class="col-sm-2 col-form-label">* Tipo de cliente </label>
            <div class="col-sm-10">
            <select class="form-control" id="tipo_cliente" name ="tipo_cliente" onchange="if(this.options[this.selectedIndex].value=='other'){toggleField(this,this.nextSibling); this.selectedIndex='0';} ">
               <!-- <option selected disabled> Selecciona el tipo de cliente:</option>-->
                <option value="Empresa - Fiestas infantiles"> Empresa - Fiestas infantiles</option>
                <option value="Particular"> Paticular</option>
                <option value="Empresa-Academica"> Empresa - académica</option>
                <option value="other">Otros(Escribe el tipo de cliente que eres)</option>
                <input name="tipo_cliente" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
            </select>

            </div>
        </div>
        <div class="form-group row ">
            <label for="alergenos" class="col-sm-2 col-form-label">Alergias e intolerancias</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="alergenos" id="alergenos"
                   placeholder="huevo, leche, gluten,etc...">
            </div>
        </div>
        <div class="form-group row ">
            <label for="necesidades_lim" class="col-sm-2 col-form-label">Necesidades alimentarias especiales</label>
            <div class="col-sm-10">
            <textarea class="form-control" rows="2" name="necesidades_lim" id="necesidades_lim" placeholder="Describe tus necesidades alimentarias (vegetariano, vegano, no cerdo, etc.)"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block" >Guardar</button>
            </div>
            <div class="col-md-4"></div>
        </div>
 <input type="hidden" name="rol" value="ROLE_USER">


    </form>

    {% endif %}
    <!--
    <form class=form-group" method="POST" action={% url 'RegistroCliente' %} >
        {{form | crispy }}
    </form>
    -->
</div>

<script type="text/javascript">
    function validar_clave(e) {
       console.log(5+6);
      var caract_invalido = " ";
      var caract_longitud = 8;
      var cla1 = $('#register-form #clave').val();
      var cla2 = $('#register-form #clave2').val();
      if (cla1 == '' || cla2 == '') {
        alert('Debes introducir tu clave en los dos campos.');
        e.preventDefault();
        return false;
      }
      if (cla1.length < caract_longitud) {
        alert('Tu clave debe constar de ' + caract_longitud + ' carácteres como mínimo');
        e.preventDefault();
        return false;
      }
      if (cla1.indexOf(caract_invalido) > -1) {
        alert("Las claves no pueden contener espacios");
        e.preventDefault();
        return false;
      } else {
        if (cla1 != cla2) {
          alert("Las claves introducidas no son iguales");
          e.preventDefault();
          return false;
        } else {
          return true;
        }
      }
    }

     $(function() {
      $('#register-form').submit(function(e) {
        validar_clave(e);
      });
    });

    function toggleField(hideObj,showObj){
        hideObj.disabled=true;
        hideObj.style.display='none';
        showObj.disabled=false;
        showObj.style.display='inline';
        showObj.focus();
    }

   </script>

{% endblock %}
