{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block userprofile %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ nombre }} {{ apellido1 }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-fluid"
                     alt="profile"
                     id="profile-img" style=cursor:pointer;>
                <h6>Click para cambiar tu imágen de perfil</h6>
                <input type="file" class="file-upload text-center center-block d-none" id="profile-img-upload"
                       name="profile-img-upload">

            </div>
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="True"> Información </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="changeinfo-tab" data-toggle="tab" href="#changeinfo" role="tab"
                       aria-controls="changeinfo" aria-selected="false">Editar Perfil</a>
                </li>



            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div>
                        <table class="table table-user-information">
                            <tbody>

                            <tr>
                                <td> Nombre completo:</td>
                                <td>{{ nombre }} {{ apellido1 }} {{ apellido2 }}</td>
                            </tr>

                            <tr>
                                <td> Usuario/e-mail:</td>
                                <td> {{ usuario }}</td>
                            </tr>

                            <tr>
                                <td> Teléfono:</td>
                                <td> {{ telefono }}</td>
                            </tr>

                            <tr>
                                <td> Teléfono 2:</td>
                                <td> {{ telefono2 }}</td>
                            </tr>
                            <tr>
                                <td> Razon social:</td>
                                <td> {{ razon_social }}</td>
                            </tr>

                            <tr>
                                <td> CIF:</td>
                                <td> {{ cif }}</td>
                            </tr>

                            <tr>
                                <td> Página web:</td>
                                <td> {{ paginaweb }}</td>
                            </tr>

                            <tr>
                                <td> Tipo de cliente:</td>
                                <td> {{ tipo_cliente }}</td>
                            </tr>

                            <tr>
                                <td> Alérgenos:</td>
                                <td> {{ alergenos }}</td>
                            </tr>

                            <tr>
                                <td> Necesidades alimentarias especiales:</td>
                                <td> {{ necesidades_lim }}</td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="changeinfo" role="tabpanel" aria-labelledby="changeinfo-tab">

                    <hr>
                    <form name="profile-form" id="profile-form" method="POST" action="{% url 'PerfilUser' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" maxlength="50"
                                           value="{{ nombre }}">
                                </div>

                                <div class="col-4">
                                    <label for="apellido1">Apellido1</label>
                                    <input type="text" class="form-control" name="apellido1" id="apellido1"
                                           maxlength="50"
                                           value="{{ apellido1 }}">

                                </div>

                                <div class="col-4">
                                    <label for="apellido2">Apellido2</label>
                                    <input type="text" class="form-control" name="apellido2" id="apellido2"
                                           maxlength="50"
                                           value="{{ apellido2 }}">

                                </div>
                            </div>
                        </div>
                        <!-- Cerrmos primer form group -->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="telefono"> Teléfono</label>

                                    <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}"
                                           title="Use un número de teléfono válido" class="form-control" name="telefono"
                                           id="telefono" value="{{ telefono }}">
                                </div>

                                <div class="col-4">
                                    <label for="telefono2"> Teléfono</label>

                                    <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}"
                                           title="Use un número de teléfono válido" class="form-control"
                                           name="telefono2"
                                           id="telefono2" value="{{ telefono2 }}">

                                </div>

                                <div class="col-4">
                                    <label for="paginaweb">Página web</label>
                                    <input type="text" class="form-control" name="paginaweb" id="paginaweb"
                                           value="{{ paginaweb }}">

                                </div>


                            </div>
                        </div>

                        <!-- Fin del 2do class form group -->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="razon_social"> Razón social</label>
                                    <input type="text" class="form-control" name="razon_social" id="razon_social"
                                           maxlength="50" value="{{ razon_social }}">

                                </div>

                                <div class="col-4">
                                    <label for="cif">NIF/CIF</label>
                                    <input type="text" class="form-control" name="cif" id="cif" maxlength="12"
                                           value="{{ cif }}">
                                </div>

                                <div class="col-4">
                                    <label for="tipo_cliente"> Tipo de cliente </label>

                                    <select class="form-control" id="tipo_cliente" name="tipo_cliente"
                                            onchange="if(this.options[this.selectedIndex].value=='other'){toggleField(this,this.nextSibling); this.selectedIndex='0';} ">
                                        <!-- <option selected disabled> Selecciona el tipo de cliente:</option>-->
                                        <option value="Empresa - Fiestas infantiles"> Empresa - Fiestas infantiles
                                        </option>
                                        <option value="Particular"> Paticular</option>
                                        <option value="Empresa-Academica"> Empresa - académica</option>
                                        <option value="other">Otros(Escribe el tipo de cliente que eres)</option>
                                        <input name="tipo_cliente" style="display:none;" disabled="disabled"
                                               onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
                                    </select>

                                </div>
                            </div>
                        </div>
                        <!--  Fin del 3er group form -->


                        <!-- Password
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" id="password"
                                           name="password" required value="{{ password }}">

                                </div>
                                <div class="col-6">
                                    <label for="repeatpassword" >Repite Contraseña</label>
                                    <input type="password" class="form-control" id="repeatpassword"
                                           name="repeatpassword" required value="{{ password }}">

                                </div>
                            </div>
                        </div>

-->
                        <div class="form-group">
                            <label for="alergenos">Alergias e intolerancias: </label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="alergenos" id="alergenos" maxlength="30"
                                       value="{{ alergenos }}">
                            </div>
                        </div>
                        <!-- Fin alergenos -->
                        <div class="form-group ">
                            <label for="necesidades_lim">Necesidades alimentarias
                                especiales: </label>
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="2" name="necesidades_lim" id="necesidades_lim"
                                          maxlength="30">{{ necesidades_lim }}</textarea>
                            </div>
                        </div>

                        <!-- Finalizando la parte del formulario -->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    </br>
                                    <button class="btn btn-lg btn-success" type="button" data-toggle="modal"
                                            data-target="#ModalCenter"><i
                                            class="oi oi-circle-check"></i> Guardar
                                    </button>

                                    <!---Modal--->
                                    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog"
                                         aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLongTitle">Modificación de
                                                        Datos</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    A continuación se va a proceder a la modificación de los datos del
                                                    usuario {{ nombre }} {{ apellido1 }}
                                                    ¿Estás segur@ de continuar?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Cerrar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>


                </div>



            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
     $('#profile-img').on('click', function(){
        $('#profile-img-upload').click();
        });
    });

    $(document).ready(function() {
        var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('.avatar').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
           }

        }
        $(".file-upload").on('change', function(){
            readURL(this);
           });
           });

    function toggleField(hideObj,showObj){
        hideObj.disabled=true;
        hideObj.style.display='none';
        showObj.disabled=false;
        showObj.style.display='inline';
        showObj.focus();
    }

function validar_clave(e) {
       console.log(5+6);
      var caract_invalido = " ";
      var caract_longitud = 8;
      var cla1 = $('#profile-form #password').val();
      var cla2 = $('#profile-form #repeatpassword').val();
      if (cla1 == '' || cla2 == '') {
        alert('Debes introducir tu clave en los dos campos.');
        e.preventDefault();
        return false;
      }
      if (cla1.length < caract_longitud) {
        alert('Tu clave debe constar de ' + caract_longitud + ' carácteres como mínimo');
        e.preventDefault();
        return false;
      }
      if (cla1.indexOf(caract_invalido) > -1) {
        alert("Las claves no pueden contener espacios");
        e.preventDefault();
        return false;
      } else {
        if (cla1 != cla2) {
          alert("Las claves introducidas no son iguales");
          e.preventDefault();
          return false;
        } else {
          return true;
        }
      }
    }

     $(function() {
      $('#profile-form').submit(function(e) {
        validar_clave(e);
      });
    });







</script>

{% endblock %}