{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block content %}


<div class="container">
    <h1 class="text-secondary border border-secondary order-top.0 border-left-0 border-right-0 border-top-0 text-danger">
        Pedido</h1>
        <div class="alert alert-danger">
            <div class="panel-heading"> Hemos recibido su petición satisfactoriamente.
            En breve nos pondremos en contacto con usted para
                formalizar el servicio. Gracias por confiar en Cosas de Katy
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-light border"   onclick="location.href='{% url 'home'%}' ">OK</button>
            </div>
            <div class="col-md-4"></div>
        </div>
</div>




{% endblock %}
