{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block altaIngreFin %}



<div class="row">
    <div class="table-responsive col-md-2">
        <p>Ingrediente dado de alta {{ usuarios }}</p>

        <table class="table table-user-information table-bordered table-sm ">
            <tbody>
            <tr>
                <td>Identificador Ingrediente:</td>
                <td>{{ context.ingrediente.id_ingrediente }}</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td>{{ context.ingrediente.nombre }} </td>
            </tr>
            <tr>
                <td>Marca:</td>
                <td>{{ context.ingrediente.marca }}</td>
            </tr>
            <tr>
                <td>Tipo ingrediente:</td>
                <td>{{ context.ingrediente.tipo_ingrediente }}</td>
            </tr>
            <tr>
                <td>Alérgenos:</td>
                <td>{{ context.ingrediente.alergenos }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="table-responsive">
                <p>Lista de proveedores</p>


                <table class="grid table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="table-secondary">Identificador Proveedor</th>
                        <th class="table-secondary">Nombre</th>
                        <th class="table-secondary">CIF</th>
                        <th class="table-secondary">Nombre Comercial</th>

                    </tr>
                    </thead>
                    {% for prov in context.usuarios %}

                    <tbody>
                    <tr>
                        <td> {{ prov.prefix_id }}</td>
                        <td> {{ prov.nombre }}</td>
                        <td> {{ prov.cif_proveedor }}</td>
                        <td> {{ prov.nombre_com }}</td>

                    </tbody>
                    {% endfor %}
                </table>
            </div>


        </div>

        <div class="row">
<div class="col-md-2">
    {% if messages %}
<ul class="messages text-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
            <div class="table-responsive  col-md-8">
                <form name="register-form" id="register-form" method="POST" action="{% url 'tablaIngreProv' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <div class="card ">
                        <table class="grid table table-bordered table-sortable table-secondary">
                            <thead>
                            <tr>

                                <th>CIF Proveedor</th>
                                <th>Precio</th>
                                <th>Cantidad</th>

                            </tr>
                            </thead>
                            {% for form in formset %}

                            <tbody>
                            <tr>
                                <td> {{ form.cif_proveedor}}</td>
                                <td> {{ form.precio }}</td>
                                <td> {{ form.cantidad }}</td>
                                <input name="form-0-id_ingrediente" type="hidden" value="{{ context.ingrediente.id_ingrediente }}">


                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                        onclick="location.href='{% url 'AdminProductosProv'%}' ">
                                    Volver al Panel Administraión
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
{% endblock %}