{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cosas De Katy</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
     {% block styles %}
     {% endblock %}
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href=" {% static 'js/bootstrap.min.js' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body >
<style>
                .dropdown:hover>.dropdown-menu{
                    display:block;
                }

                .dropdown-menu li:hover>.sub-menu{
                    border-right:7px solid rgba(0,0,0,0.7);
                    left:100%;
                    display:block;
                    position:absolute;
                    top:0;
                    margin-top: -1px;
                }



</style>

<nav class="navbar navbar-static-top bg-light" style="background-image:url({% static 'images/bann.png' %});padding:40px">
    <div class="container-fluid">
        <div class="col-md-4">
            <a class="navbar-brand" href="{% url 'home'%}">
                <!--<img src="{% static 'images/logo_goro.jpg' %}" class="img-fluid">-->
            </a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'home'%}">
                        <!--<img src="{% static 'images/banner_CosasDeKatyy.png' %} " class="img-fluid"> -->
                    </a>
                </div>
                <!-- <div class="row" style="position:absolute; right:200px; top:170px; bottom:10px;"> -->
                <!-- <div class="d-flex justify-content-end flex-wrap"> -->
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="oi oi-phone"></span>
                            </button>

                            <button type="button" class="btn btn-default btn-xs">
                                <span class="oi oi-envelope-closed"></span>
                            </button>


                            <button type="button" class="btn btn-default btn-xs"
                            onclick="location.href='{% url 'locationMap' %}' ">
                                <span class="oi oi-map-marker"></span>
                            </button>
                            <!-- Si está logueado que aparezca su nombre de lo contrario este icono -->
                            {% if user.is_authenticated %}

                            <button class="btn btn-outline-secondary dropwdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="border:none;color:white"><strong>Hola, {{user.username }} </strong></button>
                            <div class="dropdown-menu">
                                <form action={% url 'home' %} method="POST">
                                {% csrf_token %}
                                <input type="submit" class="dropdown-item" value="Cerrar sesion">
                                </form>

                                 <!--- Administracion Admin --->
                                {% if context.isAdmin %}
                            <a class="dropdown-item" href='{% url 'Administracion'%}'>Administración</a>
                                {% else %}
                                <a class="dropdown-item" href='{% url 'PerfilUser'%}'> Perfil</a>
                                <a class="dropdown-item" href='{% url 'changepass'%}'> Cambiar Contraseña </a>

                                {% endif %}

                            </div>

                            {% else %}
                            <button type="button" class="btn btn-default btn-xs "
                                    onclick="location.href='{% url 'InicioLogin'%}' ">
                                <span class=" oi oi-person"></span>
                            </button>

                            {% endif %}
                            <!-- style="margin-right: 30px -->

                            <button type="button" class="btn btn-default btn-xs"
                                onclick="location.href='{% url 'clientProdPedido' %}' ">
                                <span class="oi oi-cart" style="color:red">{% block carrito_compra %}{% endblock %}</span>
                            </button>

                            <button type="button" class="btn btn-default btn-xs"
                            onclick="location.href='{% url 'home' %}' ">
                                <span class="oi oi-home"></span>
                            </button>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="icon" type="text" style="text-indent:20px;" name="input_text"
                                   placeholder="Search"/>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row justify-content-start">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            onclick="location.href='{% url 'clientesCatering'%}'">
                        Catering
                    </button>

                    <ul class="dropdown-menu" id="lista1">
                        <li>
                            <a class="dropdown-item" href="/home/catering/productos" >Productos</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a class="dropdown-item" href="/home/catering/productos/coffee_breaks">Coffee breaks</a></li>
                                <li><a class="dropdown-item" href="/home/catering/productos/principales">Principales</a></li>
                                <li><a class="dropdown-item" href="/home/catering/productos/postres">Postres</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Menús</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a class="dropdown-item" href="#">menu1</a></li>
                                <li><a class="dropdown-item" href="#">menu2</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Especiales</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a class="dropdown-item" href="#">especiales1</a></li>
                                <li><a class="dropdown-item" href="#">especiales2</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">SolicitarP</a>

                        </li>
                    </ul>

                </div>
                <!-- Reposteria Creativa -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            onclick="location.href='{% url 'home'%}'">
                        Reposteria Creativa
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Creative 1</a></li>
                        <li><a class="dropdown-item" href="#">Creative 2</a></li>
                        <li><a class="dropdown-item" href="#">Creative All</a></li>
                    </ul>

                </div>
                <!-- Desayunos a domicilio -->
                <div class="dropdown">
                    <button class="btn btn-secondary " type="button" id="dropdownMenuButton3"
                            aria-haspopup="true" aria-expanded="false"
                            onclick="location.href='{% url 'home'%}'">
                        Desayunos a domicilio
                    </button>
                </div>
                <!-- Sobre nosotros -->
                <div class="dropdown">
                    <button class="btn btn-secondary " type="button" id="dropdownMenuButton4"
                            aria-haspopup="true" aria-expanded="false"
                            onclick="location.href='{% url 'home'%}'">
                        Sobre nosotros
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block formulariouser %}
{% endblock %}

{% block loginuser %}
{% endblock %}
{% block administration %}
{% endblock %}
{% block administrationUser %}
{% endblock %}
{% block administrationEditUser %}
{% endblock %}
{% block userprofile %}
{% endblock %}
{% block administrationProv %}
{% endblock %}
{% block administrationEditProv %}
{% endblock %}
{% block changepass %}
{% endblock %}
{% block adminProdProv %}
{% endblock %}
{% block altaIngrediente %}
{% endblock %}
{% block altaIngreFin %}
{% endblock %}
{% block bajaIngreFin %}
{% endblock %}
{% block modifyIng %}
{% endblock %}
{% block modifyIngre %}
{% endblock %}
{% block modifyIngrediente %}
{% endblock %}
{% block ProvtablaIngr %}
{% endblock %}
{% block ProvtablaRentable %}
{% endblock %}
{% block ProductosStock %}
{% endblock %}
{% block ProductosStockModified %}
{% endblock %}
{% block adminProdoffers %}
{% endblock %}
{% block adminProdofferAlta %}
{% endblock %}
{% block adminProdofferAlta2 %}
{% endblock %}
{% block adminProdofferBaja %}
{% endblock %}
{% block adminProdofferModify %}
{% endblock %}
{% block adminProdofferModifyStep1 %}
{% endblock %}
{% block adminProdofferModifyStep2 %}
{% endblock %}
{% block carousel %}
{% endblock %}
{% block catering %}
{% endblock %}
<div class="container-fluid">

    {% block content %}

    {% endblock content %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>