{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block modifyIngrediente %}

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"> Editar ingrediente ING{{ id_ingrediente }}</h1>

<form name="update-form" id="update-form" method="POST" action="{% url 'editarIngre' %}">
        {% csrf_token %}

 <input type="hidden" name="id_ingrediente" value="{{ id_ingrediente }}">

 <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="20" value="{{ nombre }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="marca" class="col-sm-2 col-form-label">Marca: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="marca" id="marca" maxlength="20" value="{{ marca }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="alergenos" class="col-sm-2 col-form-label">Alérgenos</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="alergenos" id="alergenos" maxlength="30" value="{{ alergenos }}">
            </div>
        </div>



       <div class="form-group row">
            <label for="tipo_ingrediente" class="col-sm-2 col-form-label">Tipo Ingrediente:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tipo_ingrediente" id="tipo_ingrediente" maxlength="30" value="{{ tipo_ingrediente }}">
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#ModalCenter">Actualizar</button>
                <!---Modal--->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                A continuación se va a proceder a la modificación del ingrediente con ID <strong>{{ id_ingrediente }}</strong>
                                ¿Estás segur@ de continuar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Fin del div col-md-4 text-center -->
            </div>
            <div class="col-md-4"></div>
        </div>


    </form>

{% endblock %}