{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block modifyIngre %}

<hr>
<hr>
<div class="row">
    <hr>
    <div class="col-md-4">
        <!--
        <p>Busca tus ingredientes con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">
-->
    </div>

    <div class="col-md-4">
        <!---
        {% if messages %}
        <ul class="messages text-info">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }} ING{{ idRemoved}} fue Eliminado
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        -->
    </div>
    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'AdminProductosProv'%}' ">
            Volver al Panel Administraión
        </button>
    </div>
</div>
<hr>
<!--
<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Identificador Ingrediente</th>
        <th>Nombre Ingrediente</th>
        <th>Marca</th>
        <th>Alérgenos</th>
        <th>Tipo de Ingrediente</th>
        <th> Guardar</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for ingre in ingredientes %}

    <tr>
        <form method='POST' action="{% url 'bajaIngrediente' %}">
            {% csrf_token %}
            <input type="hidden" name="id_ingrediente" value="{{ ingre.id_ingrediente }}">
            <td>{{ ingre.identificadoring }}</td>
            <td>{{ ingre.nombre }}</td>
            <td>{{ ingre.marca }}</td>
            <td>{{ ingre.alergenos }}</td>
            <td>{{ ingre.tipo_ingrediente }}</td>


            <td>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </td>

            <!--  Modal

            <div class="modal fade" id="ModalCenter2" tabindex="-1" role="dialog"
                 aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle2">Modificación de Datos</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            Se va a eliminar el ingrediente {{ ingre.identificadoring }}
                            ¿Estás segur@ de continuar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </tr>

    {% endfor %}
    </tbody>
</table> -->
<div class="row">
    <div class="col-md-4">

    </div>

        <form name="register-form" id="register-form" method="POST" action="{% url 'modifyIngrediente' %}">
            {% csrf_token %}
            {{ formset.management_form }}

                <table class="grid table table-bordered table-sortable">
                    <thead>
                    <tr>
                        <th>CIF Proveedor</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Eliminar</th>


                    </tr>

                    </thead>
                    {% for form in formset %}

                    <tbody>
                    <tr>
                        <td>{{ form.cif_proveedor }}</td>
                         <td>{{ form.cantidad }}</td>
                        <td>{{ form.precio }}</td>
                        <td>{{ form.DELETE }}</td>
                        {{ form.id }}


                    {% endfor %}

                    </tbody>

                </table>
        <input type="hidden" name="id_identificador" value="{{context.idIngrediente}}">
                <button type="submit" class="btn btn-success"> Guardar</button>



        </form>

    <div class="col-md-4"></div>
</div>


{% endblock %}