{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdofferAlta2 %}



<div class="row">
    <div class="table-responsive col-md-2">
        <p>Producto dado de alta:</p>

        <table class="table table-user-information table-bordered table-sm ">
            <tbody>
            <tr>
                <td>Producto ID:</td>
                <td>PROD{{ context.producto.id_producto }}</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td>{{ context.producto.nombre }} </td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>{{ context.producto.precio }}</td>
            </tr>
             <tr>
                <td>Coste:</td>
                <td>{{ context.producto.coste }}</td>
            </tr>
            <tr>
                <td>Tipo de producto:</td>
                <td>{{ context.producto.tipo_producto }}</td>
            </tr>
            <tr>
                <td>Alérgenos del Producto:</td>
                <td>{{ context.producto.alergenos_producto }}</td>
            </tr>
            <tr>
                <td> Descripción </td>
                <td>{{ context.producto.descripcion }}</td>
            </tr>
             <tr>

            </tbody>
        </table>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="table-responsive">
                <p>Lista de Ingredientes</p>


                <table class="grid table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th class="table-secondary">Id Ingrediente</th>
                        <th class="table-secondary">Nombre</th>
                        <th class="table-secondary">Marca</th>
                        <th class="table-secondary">Alérgenos</th>
                        <th class="table-secondary">Tipo de Ingrediente</th>
                        <th class="table-secondary">¿Está en Stock?</th>
                        <th class="table-secondary">Cantidad disponible</th>

                    </tr>
                    </thead>
                    {% for value in context.ingrediente %}

                    <tbody>
                    <tr>
                        <td>ING{{ value.id_ingrediente }}</td>
                        <td> {{ value.nombre }}</td>
                        <td> {{ value.marca }}</td>
                        <td> {{ value.alergenos }}</td>
                        <td> {{ value.tipo_ingrediente }}</td>
                        <td> {{ value.stock }}</td>
                        <td> {{ value.cantidad_stock }}</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>


        </div>

        <div class="row">
<div class="col-md-2">
    {% if messages %}
<ul class="messages text-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
    <li> el Coste del producto es de: <strong>{{ context.showCoste }}€ </strong></li>
</ul>
{% endif %}
</div>
            <div class="table-responsive  col-md-8">
                <form name="register-form" id="register-form" method="POST" action="{% url 'adminProdofferAlta2' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    <div class="card ">
                        <table class="grid table table-bordered table-sortable table-secondary">
                            <thead>
                            <tr>

                                <th>Ingrediente</th>
                                <th>Cantidad</th>

                            </tr>
                            </thead>
                            {% for form in formset %}

                            <tbody>
                            <tr>
                                <td> {{ form.id_ingrediente}}</td>
                                <td> {{ form.cantidad }}</td>
                                <input name="form-0-id_producto" type="hidden" value="{{ context.producto.id_producto }}">


                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Añadir Ingrediente</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger btn-lg btn-block"
                                        onclick="location.href='{% url 'adminProductosOfertados' %}' ">
                                    Volver al Panel Administraión
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>
{% endblock %}