{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block content %}


<div class="row">
    <hr>
    <div class="col-md-10">

    <h1 class="text-secondary border border-primary border-top-0 border-left-0 border-right-0"> Resumen</h1>

    </div>

    <div class="col-md-2">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'clientesProductos'%}' ">
            Volver a la lista de Productos
        </button>
    </div>
</div>
<hr>
<div class="row">
<table align="center" class="table table-striped table-condensed table-hover">
    <thead class="thead-inverse">
    <tr>

        <th></th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <form id ="myForm" method='POST' action="{% url 'clientProdPedidoStepEnd' %}">
        {% csrf_token %}


    {% for value in productos %}


    <tr>

            <td align="center">  <img class="img-fluid" height="80" width="80"
                 src="{{ value.image }}"></td>
            <td>{{ value.nombre }} </td>
            <td> <div class="col-md-6"><input type="number" value="1" min="0" class="form-control" name="{{ value.id_producto }}" id={{value.id_producto}}>
             </div>
            </td>

            <td>{{ value.precio }}</td>


    </tr>

    {% endfor %}
    <tr>
        <td></td>
        <td></td>
    </br>
        <td align="right"><button type="button" onclick="calculatePrice()">Calcular TOTAL (IVA Incluido)
        </button></td>
        <td> <input type="text" name="orderTotal" id="orderTotal" Size="8" readonly> € Total a pagar</td>
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
         <button class="btn btn-outline-secondary" type="submit" style="border:none;color:red"><strong>Solicitar pedido</strong></button>
            </td>
</tr>
         </form>
    </tbody>




</table>


</div><!--
<div class="row justify-content-end">
    <div class="col align-self-start"></div>
    <div class="col align-self-center"></div>

     <div class="col align-self-end">

        <button class="btn btn-outline-secondary" type="button"  onclick="location.href='{% url 'clientProdPedido' %}' "

                                    style="border:none;color:red"><strong>Solicitar pedido</strong></button>
    </div>
</div>
-->
<div class ="row">
    <div class="col-md-4">
        <button class="btn btn-outline-secondary " type="button" onclick="location.href='{% url 'clientesProductos' %}' "
                                    style="border:none;color:red"><strong>Seguir comprando </strong></button>
    </div>

    <div class="col-md-4">
                <form name="cleanCart" id="cleanCart" method="GET" action="{% url 'cleanCarrito' %}">

        <button class="btn btn-outline-secondary" type="submit"
                                    style="border:none;color:red"><strong>Vaciar cesta</strong></button>
                            </form>

    </div>


</div>

<script>
    $("#orderTotal").click(function () {
    calculatePrice();
});

function calculatePrice()
{
    //select data

    var cantidad = 0;
    var total =0;

     {% for value in productos %}
        cantidad = $("#{{value.id_producto}}").val();
        total += {{ value.precio }} * cantidad;

     {% endfor %}

    var total2 = total.toFixed(2);
    $("#orderTotal").val(total2);
}


</script>
<!--
<script src="https://code.jquery.com/jquery-3.3.1.min.js">
$(function() {
$('#myForm').submit(function(e){debugger;
console.log(5);
$.ajax({
type:"POST",
url:"http://localhost:8000/home/catering/productos/pedido/pedido_step_end",
data: {
nombre: "margarito",
csrfmiddlewaretoken: '{{ csrf_token }}'
},
dataType:'json',
});

});
});
</script>
-->
{% endblock content %}
