{% extends 'staticsFiles/staticHome.html' %}
{% load static %}

{% block content %}

<hr>
<div class="container">



    <div class="row">
        {% for producto in tipo_principales %}

        <div class="card text-center" style="width: 18rem;">
            <div class="card-header">
                <strong>{{ producto.nombre }}</strong>
            </div>
            <img class="img-fluid card-img-top rounded-bottom"
                 src="{{ producto.image }}">
            <div class="card-body">
                <p class="card-text">{{ producto.descripcion }}</p>
            </div>
            <div class="card-footer bg-transparent">

                {{ producto.precio }}€
                <form method="POST" action="{% url 'clientProdPrincipales' %}">
                    {% csrf_token %}
                     <input name="id_producto" type="hidden" value="{{ producto.id_producto }}">
    <button type="submit" class="btn btn-default btn-xs">
                    <span class="oi oi-cart"></span>
                </button>

                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<div style="visibility: hidden">
 {% block carrito_compra %}

        {{ lista | length }}
    {% endblock %}
</div>

{% endblock content %}
