{% extends 'staticsFiles/staticHome.html' %}
{% load static %}


{% block catering %}
<hr>
<div class="container">
<div class="row">


    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong><a href='{% url 'clientProdCoffeBreaks' %}' > COFFEE BREAKS</a></strong>
        </div>
            <div class="card-body">
                <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel9.jpg' %}">
            </div>

    </div>

    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong><a href='{% url 'clientProdPrincipales' %}'> PRINCIPALES</a></strong>
        </div>
            <div class="card-body">

                <img class="img-fluid card-img-top rounded-bottom" src="{% static 'images/productosoffer/carousel10.jpg' %}">
            </div>

    </div>



    <div class="card text-center " style="width: 15rem;">
        <div class="card-header">
            <strong><a href='{% url 'clientProdPostres' %}' "> POSTRES</a></strong>
        </div>
            <div class="card-body">
 <img class="img-fluid card-img-top rounded-bottom"
                             src="{% static 'images/productosoffer/carousel7.jpg' %}">
            </div>

    </div>


     <div class="card text-center " style="width: 15rem;">
          <div class="card-header ">
           <strong><a href='{% url 'clientProdTodos' %}' "> TODOS</a></strong>
        </div>
            <div class="card-body ">

                <img class="img-fluid card-img-top rounded-bottom"
                     src="{% static 'images/productosoffer/carousel2.jpg' %}">
           </div>


    </div>


</div>
</div>
<div style="visibility: hidden">
 {% block carrito_compra %}

        {{ lista | length }}
    {% endblock %}
</div>
{% endblock %}