{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block ProvtablaRentable%}
<hr><hr>
<div class="row">

    <hr>
    <div class="col-md-4">
        <p>Busca tus ingredientes con mas facilidad</p>
        <input id="myInput" type="text" placeholder="Search">

    </div>

    <div class="col-md-4">
        </br>
        <button type="button" class="btn btn-primary btn-sm"
                onclick="location.href='{% url 'IngrProvTable'%}' ">
            Volver atrás
        </button>
    </div>
</div>
<hr>
<table id="table-color" class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>

        <th>Identificador Ingrediente</th>
        <th>Nombre Ingrediente</th>
        <th>Marca</th>
        <th>Alérgenos</th>
        <th>Tipo de Ingrediente</th>
        <th>CIF Prov </th>
        <th>Nombre </th>
        <th>Identificador Prov</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for value in data %}

    <tr>
            <td>ING{{ value.ingre_id }}</td>
            <td>{{ value.id_ingrediente__nombre }}</td>
            <td>{{ value.ingre_marca }}</td>
            <td>{{ value.ingre_alergeno }}</td>
            <td>{{ value.ingre_tipo }}</td>
            <td>{{ value.prov_cif }}</td>
            <td>{{ value.prov_nombre }}</td>
            <td>{{ value.prov_id }}</td>
            <td>{{ value.min_p }}</td>
            <td>{{ value.ingre_cantidad }}</td>


        </form
    </tr>

    {% endfor %}
    </tbody>
</table>
<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});




</script>

{% endblock %}