{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block content %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adminprovprod.css' %}">
{% endblock %}
<div class="container-bg" style="background: #292929">
    <div class="container">
<hr>
        <div class="row">
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>

        </div>
        <div class="row">

                <div class="block">
                    <a href='{% url 'adminGestionPedidosAlta' %}'><i class="hoverbtn effect-1 sub-a">Alta Pedidos</i></a>
                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'adminGestionPedidosBaja' %}'><i class="hoverbtn effect-1 sub-a">Baja Pedidos</i></a>

                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'adminGestionPedidoModify' %}'><i class="hoverbtn effect-1 sub-a">Modificación Pedido</i></a>

                </div>
            <div class="block">
                    <a href='{% url 'adminGestionPedidosShow' %}'><i class="hoverbtn effect-1 sub-a">Ver Pedidos</i></a>

                </div>


        </div>

    </div>

</div>
{% endblock %}