{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdProv %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adminprovprod.css' %}">
{% endblock %}
<div class="container-bg" style="background: #292929">
    <div class="container">
<hr>
         <div class="row">
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>

        </div>

        <div class="row">

                <div class="block">
                    <a href='{% url 'AltaIngrediente' %}'><i class="hoverbtn effect-1 sub-a">Alta Ingrediente</i></a>
                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'bajaIngrediente' %}'><i class="hoverbtn effect-1 sub-a">Baja Ingrediente</i></a>

                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'modifyIngredient' %}'><i class="hoverbtn effect-1 sub-a">Modificar productos prov</i></a>

                </div>


        </div>
        <div class="row">


                <div class="block">
                    <a href='{% url 'IngrProvTable' %}'><i class="hoverbtn effect-1 sub-a">Tabla Ingr de Proveedores</i></a>

                </div>
                &nbsp
                <div class="block">
                    <a href="#"><i class="hoverbtn effect-1 sub-a">Acceso Tabla Stock</i></a>

                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'ingredientStock' %}'><i class="hoverbtn effect-1 sub-a">Modificar Prod en Stock</i></a>

                </div>

        </div>
    </div>

</div>
{% endblock %}