{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block adminProdoffers %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adminprovprod.css' %}">
{% endblock %}

<div class="container-bg" style="background: #292929">
    <div class="container">
<hr>

         <div class="row">
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>

        </div>


        <div class="row">

                <div class="block">
                    <a href='{% url 'adminProdofferAlta' %}'><i class="hoverbtn effect-1 sub-a">Alta producto ofertado</i></a>
                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'adminProdofferBaja' %}'><i class="hoverbtn effect-1 sub-a">Baja producto ofertado</i></a>

                </div>
                &nbsp
                <div class="block">
                    <a href='{% url 'adminProdofferModify' %}'><i class="hoverbtn effect-1 sub-a">Modificar producto ofertado</i></a>

                </div>


        </div>

    </div>

</div>

{% endblock %}