{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block administrationProv %}

<div class="row">
        <div class="col-md-6">

<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Administración de
    Proveedores</h1>
        </div>
    <div class="col-md-6">
        </br>
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>
        </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form name="getproveedor-form" id="getinformation" method="GET" action="{% url 'AdministracionUser' %}">
            <div class="form-group row">
                <label for="nombrecompleto" class="col-sm-2 col-form-label">Nombre Proveedor a Buscar </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombrecompleto" id="nombrecompleto" maxlength="50"
                           required>

                </div>
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-primary my-2 my-sm-0" class="btn btn-primary btn-block" value="Buscar">

                </div>
            </div>

        </form>
<!-- Registro proveedor -->
        <div class="card">
            <header class="card-header text-center">
                <h4 class="card-title mt-2"> Registro de Proveedor</h4>
            </header>
            <div class="card-body">
                <form name="register-form" id="register-form" method="POST"
                      action="{% url 'AdministracionProveedor' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" maxlength="30">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="nombre_comercial">Nombre comercial:</label>
                                <input type="text" class="form-control" name="nombre_comercial"
                                       id="nombre_comercial"
                                       maxlength="30">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="cif">CIF:</label>
                                <input type="text" class="form-control" name="CIF"
                                       id="cif"
                                       maxlength="12" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" name="direccion" id="direccion"
                                       maxlength="100">
                            </div>

                            <div class="col-6">
                                <label for="telefono">Teléfono</label>

                                <input type="tel" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}"
                                       title="Use un número de teléfono válido" class="form-control" name="telefono"
                                       id="telefono">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=col-6>
                                <div class="form-group">
                                    <label for="email">E-mail</label>

                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="name@example.com" maxlength="50">

                                </div>
                            </div>
                            <div class="col-6">
                                <label for="enlace">Enlace:</label>
                                <input type="text" class="form-control" name="enlace" id="enlace"
                                       maxlength="50">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                </br>
                                <button class="btn btn-lg btn-success" type="button" data-toggle="modal"
                                        data-target="#ModalCenter"><i
                                        class="oi oi-circle-check"></i> Guardar
                                </button>
                                <!-- empieza modal -->
                                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog"
                                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLongTitle">Modificación de Datos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                A continuación se va a proceder al registro de un proveedor
                                                ¿Estás segur@ de continuar?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- termina modal -->
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
        <!-- Fin proveedor -->

    </div>

    <div class="col-md-8">
        <!---- Tabla Proveedores----->

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
            <tr>

                <th>Nombre</th>
                <th>Nombre comercial</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Enlace</th>
                <th>CIF</th>
                <th>Identificador Proveedor</th>
                <th>Editar</th>
                <th>Dar De Baja</th>
            </tr>
            </thead>
            <tbody>
            {% for prov in proveedores %}
            <tr>
            <form action = {% url 'editProveedor' %}>
                <td>{{ prov.nombre }}  </td>
                <td>{{ prov.nombre_com }}</td>
                <td>{{ prov.direccion }}</td>
                <td>{{ prov.telefono }}</td>
                <td>{{ prov.email }}</td>
                <td>{{ prov.enlace }}</td>
                <td>{{ prov.cif_proveedor }}</td>
                <td>{{ prov.prefix_id }}</td>

                <input type="hidden" name="nombre" value="{{ prov.nombre }}">
                <input type="hidden" name="nombre_com" value="{{ prov.nombre_com }}">
                <input type="hidden" name="direccion" value="{{ prov.direccion }}">
                <input type="hidden" name="telefono" value="{{ prov.telefono }}">
                <input type="hidden" name="email" value="{{ prov.email }}">
                <input type="hidden" name="enlace" value="{{ prov.enlace }}">
                <input type="hidden" name="cif_proveedor" value="{{ prov.cif_proveedor }}">
                <input type="hidden" name="prefix_id" value="{{ prov.prefix_id }}">

                <td><input type="submit" class="btn btn-lg btn-info" value="Editar"></td>
            </form>
                <form method="GET" action="{% url 'AdministracionProveedor' %}">
                    {% csrf_token %}
                     <input type="hidden" name="cif_proveedor" value="{{ prov.cif_proveedor }}">
                    <input type="hidden" name="eliminar" value="true">
                    <td><input type="button" class="btn btn-lg btn-danger" value="Dar De Baja"
                            data-toggle="modal" data-target="#ModalCenter2" ></td>

                    <!--  Modal -->
<!--
                    <button class="btn btn-lg btn-success" type="button" data-toggle="modal"
                                        data-target="#ModalCenter"><i
                                        class="oi oi-circle-check"></i> Guardar
                    </button> -->
                    <div class="modal fade" id="ModalCenter2" tabindex="-1" role="dialog"
                                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLongTitle2">Modificación de Datos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                A continuación se va a proceder a la eliminación del proveedor {{ prov.prefix_id }}
                                                ¿Estás segur@ de continuar?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>

{% endblock %}