{% extends 'staticsFiles/staticHome.html' %}
{% load static %}
{% block administrationUser %}

<div class="row">
    <div class="col-md-6">
<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Administración de
    usuarios </h1>
</div>
    <div class="col-md-6">
        </br>
            <a href='{% url 'Administracion' %}'>Volver Panel Administración</a>
        </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form name="register-form" id="getinformation" method="GET" action="{% url 'AdministracionUser' %}">
            <div class="form-group row">
                <label for="nombrecompleto" class="col-sm-2 col-form-label">Nombre Usuario a Buscar :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nombrecompleto" id="nombrecompleto" maxlength="50"
                           required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Buscar">
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </div>

    <div class="col-md-8">
        <!-- if lleno -->
        {% if lleno %}

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
            <tr>

                <th>Nombre</th>
                <th>Apellido</th>
                <th>email</th>
                <th>Teléfono</th>
                <th>Tipo de Cliente</th>
                <th>Alergenos</th>
                <th>Necesidades Alimenticias</th>
                <th>Rol</th>
                <th> Editar </th>
                <th> Eliminar </th>

            </tr>
            </thead>
            <tbody>
            {% for users in users %}
            <tr>
            <form action = {% url 'editUser' %}>
                <td>{{ users.nombre  }} {{ users.apellido1 }} {{users.apellido2}}</td>
                <td>{{ users.usuario }}</td>
                <td>{{ users.telefono }}</td>
                <td>{{ users.tipo_cliente }}</td>
                <td>{{users.alergenos}}</td>
                <td>{{users.necesidades_lim}}</td>
                <input type="hidden" name="nombre" value="{{ users.nombre }}">
                <input type="hidden" name="apellido1" value="{{ users.apellido1 }}">
                <input type="hidden" name="apellido2" value="{{ users.apellido2 }}">
                <input type="hidden" name="telefono" value="{{ users.telefono }}">
                <input type="hidden" name="alergenos" value="{{ users.alergenos }}">
                <input type="hidden" name="necesidades" value="{{ users.necesidades_lim }}">
                <input type="hidden" name="tipo_cliente" value="{{ users.tipo_cliente }}">
                <input type="hidden" name="password" value="{{ users.password }}">
                <input type="hidden" name="usuario" value="{{ users.usuario }}">
                <input type="hidden" name="rol" value="{{ users.rol }}">

                <td><input type="submit" class="btn btn-lg btn-info" value="Editar"></td>
             </form>
                <td><input type="submit" class="btn btn-lg btn-danger" value="Eliminar"></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
            <tr>

                <th>Nombre</th>
                <th>email</th>
                <th>Teléfono</th>
                <th>Tipo de Cliente</th>
                <th>Alergenos</th>
                <th>Necesidades Alimenticias</th>
                <th> Rol </th>
                <th>Editar</th>
                <th> Eliminar</th>
            </tr>
            </thead>
            <tbody>
            {% for users in usuarios %}
            <tr>
            <form action = {% url 'editUser' %}>
                <td>{{ users.nombre }} {{ users.apellido1 }} {{users.apellido2}} </td>
                <td>{{ users.usuario }}</td>
                <td>{{ users.telefono }}</td>
                <td>{{ users.tipo_cliente }}</td>
                <td>{{ users.alergenos }}</td>
                <td>{{ users.necesidades_lim }}</td>
                <td>{{ users.rol }}</td>
                <input type="hidden" name="nombre" value="{{ users.nombre }}">
                <input type="hidden" name="apellido1" value="{{ users.apellido1 }}">
                <input type="hidden" name="apellido2" value="{{ users.apellido2 }}">
                <input type="hidden" name="telefono" value="{{ users.telefono }}">
                <input type="hidden" name="alergenos" value="{{ users.alergenos }}">
                <input type="hidden" name="necesidades" value="{{ users.necesidades_lim }}">
                <input type="hidden" name="tipo_cliente" value="{{ users.tipo_cliente }}">
                <input type="hidden" name="password" value="{{ users.password }}">
                <input type="hidden" name="usuario" value="{{ users.usuario }}">
                <input type="hidden" name="rol" value="{{ users.rol }}">
                <td><input type="submit" class="btn btn-lg btn-info" value="Editar"></td>
            </form>
                <td><input type="submit" class="btn btn-lg btn-danger" value="Eliminar"></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>


{% endblock %}
